<a href="https://colab.research.google.com/github/ipshitaRB/Visualize-Earnings-Based-On-College-Majors/blob/master/Visualize_earnings_based_on_college_majors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Visualize Earnings Based On College Majors


I will be working with a dataset on the job outcomes of students who graduated from college between 2010 and 2012. The original data on job outcomes was released by [American Community Survey](https://www.census.gov/programs-surveys/acs/), which conducts surveys and aggregates the data. FiveThirtyEight cleaned the dataset and released it on their [Github repo](https://github.com/fivethirtyeight/data/tree/master/college-majors).



Each row in the dataset represents a different major in college and contains information on gender diversity, employment rates, median salaries, and more. Here are some of the columns in the dataset:



* Rank - Rank by median earnings (the dataset is ordered by this column).
* Major_code - Major code.
* Major - Major description.
* Major_category - Category of major.
* Total - Total number of people with major.
* Sample_size - Sample size (unweighted) of full-time.
* Men - Male graduates.
* Women - Female graduates.
* ShareWomen - Women as share of total.
* Employed - Number employed.
* Median - Median salary of full-time, year-round workers.
* Low_wage_jobs - Number in low-wage service jobs.
* Full_time - Number employed 35 hours or more.
* Part_time - Number employed less than 35 hours.

Using visualizations, we can start to explore questions from the dataset like:

* Do students in more popular majors make more money?
 * Using scatter plots
* How many majors are predominantly male? Predominantly female?
 * Using histograms
* Which category of majors have the most students?
  * Using bar plots

In [0]:
import matplotlib as plt
import pandas as pd

In [0]:
%matplotlib inline

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
recent_grads = pd.read_csv("/content/college_data/recent-grads.csv")

In [6]:
recent_grads.iloc[0]

Rank                                        1
Major_code                               2419
Major                   PETROLEUM ENGINEERING
Total                                    2339
Men                                      2057
Women                                     282
Major_category                    Engineering
ShareWomen                           0.120564
Sample_size                                36
Employed                                 1976
Full_time                                1849
Part_time                                 270
Full_time_year_round                     1207
Unemployed                                 37
Unemployment_rate                   0.0183805
Median                                 110000
P25th                                   95000
P75th                                  125000
College_jobs                             1534
Non_college_jobs                          364
Low_wage_jobs                             193
Name: 0, dtype: object

In [7]:
recent_grads.head()

   Rank  Major_code  ... Non_college_jobs  Low_wage_jobs
0     1        2419  ...              364            193
1     2        2416  ...              257             50
2     3        2415  ...              176              0
3     4        2417  ...              102              0
4     5        2405  ...             4440            972

[5 rows x 21 columns]

In [8]:
recent_grads.tail()

     Rank  Major_code  ... Non_college_jobs  Low_wage_jobs
168   169        3609  ...             2947            743
169   170        5201  ...              615             82
170   171        5202  ...              870            622
171   172        5203  ...             1245            308
172   173        3501  ...              338            192

[5 rows x 21 columns]

In [9]:
recent_grads.describe()

             Rank   Major_code  ...  Non_college_jobs  Low_wage_jobs
count  173.000000   173.000000  ...        173.000000     173.000000
mean    87.000000  3879.815029  ...      13284.497110    3859.017341
std     50.084928  1687.753140  ...      23789.655363    6944.998579
min      1.000000  1100.000000  ...          0.000000       0.000000
25%     44.000000  2403.000000  ...       1591.000000     340.000000
50%     87.000000  3608.000000  ...       4595.000000    1231.000000
75%    130.000000  5503.000000  ...      11783.000000    3466.000000
max    173.000000  6403.000000  ...     148395.000000   48207.000000

[8 rows x 19 columns]

In [10]:
recent_grads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 21 columns):
Rank                    173 non-null int64
Major_code              173 non-null int64
Major                   173 non-null object
Total                   172 non-null float64
Men                     172 non-null float64
Women                   172 non-null float64
Major_category          173 non-null object
ShareWomen              172 non-null float64
Sample_size             173 non-null int64
Employed                173 non-null int64
Full_time               173 non-null int64
Part_time               173 non-null int64
Full_time_year_round    173 non-null int64
Unemployed              173 non-null int64
Unemployment_rate       173 non-null float64
Median                  173 non-null int64
P25th                   173 non-null int64
P75th                   173 non-null int64
College_jobs            173 non-null int64
Non_college_jobs        173 non-null int64
Low_wage_jobs           173 non-null int64
dtypes: float64(5), int64(14), object(2)
memory usage: 28.5+ KB